svg:text(
    '[attr.font-size]'='fontSize',
    '[attr.fill]'='color',
    'font-variant'='small-caps',
    'dominant-baseline'='hanging',
    'text-anchor'='end',
    'transform'='rotate(-90)',
    '[attr.y]'='sidePadding + position',
    'x'='-5') {{text}}
